#root{

}
#project{
    font: caption;
    display: block;
    min-height: 0;
    overflow: hidden;
    flex: 1 1 auto;

}
.projectTitleContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.lists{
    position:relative;
    min-height: 0;
    overflow: hidden;
    flex: 1 1 auto;
    width: inherit;
    display: flex;
    flex-direction: column;
    padding-right: 8px;
    max-width: calc(100vw - 100px);
    overflow-x: visible;
    height: calc(100vh - 72px);
}
#listsContainer{
    display: inline-flex;
    position: absolute;
}
.listContainer{
    display: inline-block;
    min-width: 300px;
    max-width: 300px;
    height: 100%;
    padding: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: #EBECF0;
    border-radius: 3px;
}
.projectContainer{
    display: inline-block;
    width: 355px;
    height: 100%;
    padding: 8px;
    border-radius: 3px;
}
.listHead {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    min-height: 60px;

}
.listTitle {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    word-wrap: break-word;
}
.listBin {
    filter: invert(49%) sepia(99%) saturate(651%) hue-rotate(177deg) brightness(89%) contrast(92%);
    width: 10%;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.listContent{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%!important;

}
.listBody{
    position: relative;
    width: inherit;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 200px);
}
.cardsContainer{
    display: block;
    min-height: 0;
    overflow-x: hidden;
    flex: 1 1 auto;

}
.cardContainer{
    word-wrap: break-word;
    margin-bottom: 8px;
    display: block;
    position: relative;
    width: 100%;
}
.cardContainerForm{
    word-wrap: break-word;
    display: flex;
    /*flex-direction: column;*/
    position: absolute;
    /*width: 50%;*/
    height: 200px;
    z-index:100;
    top: 30%;
    left: 35%;

}
.listContainerForm{
    word-wrap: break-word;
    margin-bottom: 8px;
    display: flex;
    position: relative;
    width: 100%;
}

#cardTextContainer {
    width: 100%;
    cursor: pointer;
}
#actionButtonContainer{
    vertical-align:bottom;
    display: inline-block;
    justify-content: space-between;
    width: 100%!important;

}
.projectOpenFormButton {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    border-radius: 3px;
    height: 36px;
    padding-left: 10px;

    opacity: 1;
    color: white;
    background-color: rgba(0,0,0,.15);
    width: 360px;
}
.listOpenFormButton{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    border-radius: 3px;
    height: 36px;
    margin-right: 8px;
    padding-left: 10px;

    opacity: 1;
    color: white;
    background-color: rgba(0,0,0,.15);
    min-width: 306px;
}
.cardOpenFormButton{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    border-radius: 3px;
    height: 36px;
    padding-left: 10px;

    opacity: 0.5;
    color: inherit;
    background-color: inherit;
    width: 272px;
}
.formButtonGroup{
    margin-top: 8px;
    display: inline-flex;
    align-items: center;

}
.textArea{
    resize: none;
    width: 100%;
    place-items: center;
    outline: none;
    border: none;
    overflow: hidden;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    margin: 0;
}
.updateListFormContainer{
    position: relative;
    /*margin-bottom: 10px;*/
    /*margin-top: 7px;*/
}

/*#binContainer {*/
/*    position: fixed;*/
/*    right: 0;*/
/*    bottom: 1vh;*/
/*    cursor: pointer;*/
/*    height: 10vh;*/
/*    width: 10vh;*/

/*    filter: invert(49%) sepia(99%) saturate(651%) hue-rotate(177deg) brightness(89%) contrast(92%);*/
/*}*/
body {
    background-color: #AED6F1;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

.updateCardFormContainer {
    display: block;
    position: relative;
    padding: 10px;
    word-wrap: break-word;
}

.overlay {
    position:absolute;
    width:100%;
    height:100%;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);;
    z-index:2;
}
.overflow {
    overflow: hidden;
}

.cardFormButtons{
    display: flex;
    flex-direction: column;
    margin-left: 4px;
    flex-grow: 0;
    flex-shrink: 0;
    width: 200px;
}
.listFormButtons{
    display: flex;
    flex-direction: column;
    margin-left: 4px;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: white;
    /*border-color: ;*/
    border: 2px #767678;
    border-style: solid;
    /*border: #767678;*/
    z-index: 1;
    border-radius: 3px;
    height: 200px;
    position: absolute;
    left: 300px;
    width: 200px;
}

.dueContainer{
    float: left;
    margin-bottom: 8px;
}

a {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

a:hover {
    color: #CE242B;
}

.navigation{
    /*z-index: 2;*/
    /*position: absolute;*/
    border-radius: 3px;
    height: 100vh;
    margin-right: 8px;
    padding-left: 8px;
    overflow: hidden;
    position: relative;
    min-width: 30px;
    font: caption;

}

.profile {
    margin: 8px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    position: absolute;
    border-radius: 3px;
    padding: 20px;
    background-color: white;
    margin-top: calc(50vh - 125px);
    margin-left: calc(50vw - 139px);
    align-items: center;
}

.signupForm {
    display: flex;
    flex-direction: column;
    position: absolute;
    border-radius: 3px;
    padding: 20px;
    background-color: white;
    margin-top: calc(50vh - 190px);
    margin-left: calc(50vw - 139px);
    align-items: center;
}

.projectsMenu{
    display: block;
    min-height: 0;
    overflow-x: hidden;
    flex: 1 1 auto;
}

.menuContainer{
    position: relative;
    width: inherit;
    display: flex;
    flex-direction: column;
    padding-right: 8px;
    max-height: calc(100vh - 100px);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-opened {
    display: flex!important;
    align-items: center;
}

.modal__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 15% auto;
}